<h1><%= "#{@user.name}'s"%> Home Page</h1>

<div>
  <h2>Posts</h2>
</div>

<div>
  <h2>Friends</h2>
  <ul>
    <% @user.friends.each do |friend| %>
      <li>
        <%= friend.name %>
      </li>
    <% end %>
</div>

<div>
  <h2>Friend Requests</h2>
  <ul>
    <% @user.received_friend_requests.each do |request|%>
      <% if request.is_pending == true %>
        <li>
          <%= request.requestor.name %> | <%= link_to 'Profile', profile_path(request.requestor.profile) %> | <%= link_to 'Accept Friend Request', user_friends_path(:user_id => @current_user, :friend_id => request.requestor, :friend_request => request), method: :post%>

        </li>
      <% end %>
    <% end %>
  </ul>
</div>

<% flash.each do |name, msg| -%>
  <%= content_tag :div, msg, class: name %>
<% end -%>
